.right{
    /* border:1px solid green ; */
    /* width:80%; */
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    margin-top: 37px;
}
.second_right{
display: flex;
/* gap:10px */
/* width:auto;
height: 200px; */

}
.zero_right{
  /* border:1px solid red; */
  height: 100px;

}
.third_right{
    height:100px;
    width: 100px;
}

.fourth_right{
  /* border:1px solid purple ; */
  margin-left: 10px;
}