.ad{
    border: 1px solid black;
    height:160px;
    width:75%;
    margin-left: 198px;
    overflow: scroll;
    margin-top: 30px;
}
.add{
    height:90px;
    width:85%;
    margin-top: 36px;
    margin-left: 60px;
}
/* https://tpc.googlesyndication.com/simgad/13134570900656688182?sqp=4sqPyQQrQikqJwhfEAEdAAC0QiABKAEwCTgDQPCTCUgAUAFYAWBfcAJ4AcUBLbKdPg&rs=AOga4qn7uTpIPsDCM5RlVzywK0pIJYnFVA */