
.outer{
    /* border:1px solid red; */
    width:100%;
}
.second_outer{
    border:1px solid gray;
    margin-bottom: 14px;
    border-radius: 10px;
}
.third_outer{
    height:230px;
width:100%;
}
.fourth_outer{
    margin-left: 0px;
    margin-top: -15px;
    /* line-height: 25px; */
  

}
/* {{border:"1px solid gray" ,marginTop:"10px",borderRadius:"10px"}} */
/* style={{width:"100%" }} */
/* style={{marginright:"-30px",marginTop:"-20px",paddingLeft:"-10px"}} */
