.southnews{
    border:1px solid green
}


.main{
    /* border:1px solid purple; */
    display: flex;
    flex-direction: row;
    width:75%;
    margin-left: 198px;
  }
  .left_box1{
    display: flex;
    width: 70%;
   height:1060px;
    /* border: 1px solid yellow; */
     gap:15px 
 }  

.right_box2{
    /* border: 1px solid brown; */
    width: 30%;
    margin-top: 35px;
}