.footer1{
    width: 100%;
    height: 300px;
    border: 1px solid black;
    margin:  auto;
    background-color: #f2f2f2;
}
.footer2{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    /* display: flex; */
    /* border: 1px solid blue; */

    
    

}

.footer2>button{
    width: 8%;
    height: 40px;
    font-size: 8.5px;
    font-weight: 630;
    color: #6d869f;
    border: none;
    /* padding: 1%; */
    /* border: 1px solid red; */
    margin: auto;
    
    
}
.float{
    float: left;
    margin-left: 100px;
}