.navbar {
    background-color:rgb(34, 32, 32);
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
   
  }
  

  .top-heading {
    color: white;
  }
  .menu-bars {
    display: flex;
    justify-content: space-between;
    
    font-size: 2rem;
    background: none;
    scroll-behavior: smooth;
  }
  
  .nav-menu {
    background-color:rgb(208, 224, 226);
    width: 315px;
    
    height: 100px;
    display: flex;
    flex: start;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
   
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 10px;
    color: black;
    list-style: none;
    height: 20px;
    padding: 20px;
  }
  
  .nav-text a {
    text-decoration: none;
    /* background-color: red; */
    color: rgb(19, 18, 18);
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
  
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  
  
  .sidebar-img {
    width: 150px;
  }
  
  .sidebar-arrow {
    border-radius: 50%;
    background-color: black;
  }


.stickers {
  text-decoration: none;
  width: 30px;
  height: 26px;
}

.sticker-img {
  text-decoration: none;
}

.scrollbar {
  background-color: white;
  
  height:650px;
  overflow:scroll;
  overflow-x:hidden;
}